.topPanel {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-card);
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  gap: 6px;
}
.action button {
  background-color: transparent;
  color: var(--text-main);
  border: 0;
}
